<p id="notice"><%= notice %></p>


<h1>Delete Books</h1>


<div class="books delete">
    <h2>Delete Books</h2>
    <%= form_for(@books, :method => 'delete') do |b| %>
        <p>Are you sure you want to delete book?</p>
        <p><%= @book.title %></p>
        <div class = "form-buttons">
            <%m b.submit("Delete Book")%>
        </div>

    <%end%>
</div>


<%= link_to 'Back', books_path %>